<!-- <div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>COP ROSTER</h1>
    <p class="lead">Roster Of Scheduled Training & Exercise Reporting System</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register for Access</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div> -->
<section id="Home">
    <div class="container"> 
      <div class="row" >
        <!-- Tenant -->
        <div class="col" style="text-align:center"><b> Tenant Units</b>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">1-393rd</div>
                <div class="card-header">2-394rd</div>
                <div class="card-header">3-483rd</div>
                <div class="card-header">1-639th</div>
                <div class="card-header">3-348th</div>
                <div class="card-header">2-196th</div>               
              </div>
        </div>
        <!-- 120th BDE -->
        <div class="col-8">
        <br>
            <div class="row">
              <div class="col-sm">
                <div style="float:left;">           
                    <img src="../../assets/120IN_BDE_CDR.jpg" alt="" style="width:250px;height:300px;" class="center">
                </div>
              </div>
              <div class="col-sm">
                <div>
                    <img src="../../assets/TrustLeadAdapt.png" alt="" style="width:150px;height:150px; display:block;margin:0 auto" class="center">
                </div>
              </div>
                <div class="col-sm">
                <div style="float:right;">
                    <img src="../../assets/120IN_BDE_CSM.jpg" alt="" style="width:250px;height:300px;" class="center"> 
                </div>
              </div>
              </div> 
        </div>
             <!-- Directory Info -->
        <div class="col"style="text-align:center"><b> Tenant Units</b>
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Directory</div>
              <div class="card-header">Incomming Personnel</div>
              <div class="card-header">Staff</div>
              <div class="card-header">Links</div>
              <div class="card-header">MyPay</div>
              <div class="card-header">Resources</div>               
            </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Admin Page -->
    <!-- ACTIONS -->
    <section id="actions" >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-3">
              <a href="#" class="btn btn-primary btn-block">
                <i class="far fa-chart-bar"></i> Common Operating Picture
              </a>
            </div>
            <div class="col-md-3">
              <a href="http://127.0.0.1:5500/new/index.html" class="btn btn-success btn-block">
                <i class="fas fa-file-alt"></i> Mobilization Dashboard
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="btn btn-danger btn-block">
                <i class="fas fa-exclamation-circle"></i> CCIR & SIR
              </a>
            </div>
          </div>
        </div><br>
      </section>
      <section id="mission_vision">  
          <div class="container"> 
              <div class="row" >
      <div class="card">
          <div class="card-header">
            <p class="text-center" style="color:red"><b>Our Mission</b></p>
          </div>
          <div class="card-body;">
            <blockquote class="blockquote mb-0">
              <p class="text-center">The 120th Infantry Brigade validates USAR/ARNG forces capability to execute operations in support of FORSCOM approved and Combatant Commander requirements.</p>
            </blockquote>
        </div>
        </div>
        <br>
            <div class="card">
                <div class="card-header">
                    <p class="text-center"style="color:red"><b>Vision</b></p>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="text-center">All units deploying to theater are trained and ready to accomplish their assigned missions.  The 120 IN BDE assigned and attached units are task organized to execute and support mobilization activities, and postured for continued success through maintenance of ready and resilient Soldiers, leaders, and units.</p>
                  </blockquote>
                </div>
              </div>
        </div>
        </div>  
    
    
        </section>

         <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
      <div class="fluid-container">
          <div class="col">
            <p class="lead text-center">           
              120th BDE Ft. Hood, TX <br> Copyright &copy;
              <span id="year"></span> <br>
            </p>
          </div>
        </div>
    </footer>
  